<!doctype html>
<head>
  <meta charset="UTF-8">
  <title>NoTube</title>
  <link rel="stylesheet" href="/css/app.css" type="text/css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="<%= @page_class %>">
  <header class="app-header">
    <h1><a href="/">
      <img src="/icon.svg" alt="notube icon">
      <span>notube&trade;
    </a></h1>

    <nav>
      <a id="navHome" href="/">Next Up</a>
      <a id="navRecent" href="/recent">Recently Posted</a>
    </nav>
  </header>

  <div class="app-wrapper">
    <div class="app-sidebar">
      <h2>channels</h2>
      <ul>
        <% @channels.each do |channel| %>
          <li><a href="/channels/<%= channel[0] %>">
            <img src="/data/<%= channel[1] %>.jpg" width="18" height="18">
            <span><%= channel[2] %></span>
          </a></li>
        <% end %>
      </ul>
    </div>
    <div class="app-content">
      <%= yield %>
    </div>
  </div>
</body>
