<div class="video">
  <header class="video-header">
    <h2><%= @video.title %></h2>
    <div class="video-meta">
      <a class="video-meta-channel" href="/channels/<%= @video.channel_id %>">
        <img src="/data/<%= @video.channel.external_id %>.jpg" width="24" height="24">
        <span><%= @video.channel.name %></span>
      </a>

      <div class="video-meta-published">Published <%= @video.display_timestamp(:published_at) %></div>
      <div class="video-meta-source"><a href="https://www.youtube.com/watch?v=<%= @video.external_id %>">Source &#x2197;</a></div>
  </header>

  <% if @video.downloaded? %>
    <div class="video-player">
      <video width="100%" controls="controls" poster="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.jpg">
        <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.webm">
        <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.mp4">
      </video>
    </div>
  <% else %>
    <div class="video-player">
    </div>
    <div class="video-download">
      This video has not yet been downloaded.
      <a href="/get_video_url/<%= @video.external_id %>" class="js-download-link">Begin Download</a>

      <a href="/get_video_url/<%= @video.external_id %>" class="video-preview-download js-download-link" style="display: block;">
        <img src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.jpg" width="100%">
      </a>
    </div>

    <script>
      (function () {
        let downloadLinks = document.querySelectorAll(".js-download-link");

        downloadLinks.forEach(function (el) {
          el.addEventListener("click", function(ev) {
            ev.preventDefault();

            const videoDownload = document.querySelector(".video-download");
            const videoPlayer = document.querySelector(".video-player");

            videoDownload.disabled = true;
            videoDownload.style.opacity = 0.5;
            videoDownload.style.pointerEvents = "none";

            fetch(ev.currentTarget.getAttribute("href"))
              .then(function(response) {
                return response.json();
              })
              .then(function(data) {
                console.log(JSON.stringify(data));

                videoDownload.style.display = "none";

                // <video width="100%" controls="controls">
                const video = document.createElement("video");
                video.style.width = "100%";
                video.controls = true;

                // <source src="...">
                const source = document.createElement("source")
                source.src = data.url;

                video.appendChild(source);
                videoPlayer.appendChild(video);
              });
          })
        });
      })();
    </script>
  <% end %>

  <div class="video-description">
<%= @video.description %>
  </div>
</div>
