  <div class="video-card<% if v[5].nil? %> fresh<% end %>">
    <div class="fresh-dot"></div>
    <a href="/videos/<%= v[0] %>">
      <img src="/data/<%= v[8] %>/<%= v[1] %>.jpg">
      <span><%= v[2] %></span>
    </a>
    <div class="video-card-channel">
      <a href="/channels/<%= v[7] %>"><%= v[10] %></a></li>
    </div>
  </div>
