<div class="video">
  <header>
    <h2><%= @video.title %></h2>
    <div class="video-channel">
      <a href="/channels/<%= @video.channel_id %>">
        <img src="/data/<%= @video.channel.external_id %>.jpg" width="24" height="24">
        <span><%= @video.channel.name %></span>
      </a>
    </div>
  </header>

  <div class="video-player">
    <video width="100%" controls="controls" poster="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.jpg">
      <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.webm">
      <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.mp4">
    </video>
  </div>

  <div class="video-description">
<%= @video.description %>
  </div>
</div>
