<div class="video">
  <header>
    <h2><%= @video.title %></h2>
    <div class="video-channel">
      <a href="/channels/<%= @video.channel_id %>">
        <img src="/data/<%= @video.channel.external_id %>.jpg" width="24" height="24">
        <span><%= @video.channel.name %></span>
      </a>
    </div>
  </header>

  <% if @video.downloaded? %>
    <div class="video-player">
      <video width="100%" controls="controls" poster="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.jpg">
        <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.webm">
        <source src="/data/<%= @video.channel.external_id %>/<%= @video.external_id %>.mp4">
      </video>
    </div>
  <% else %>
    <div class="video-download">
      This video has not yet been downloaded.
      <a href="/download/<%= @video.id %>" id="downloadLink">Begin Download</a>
    </div>

    <script>
      (function () {
        let downloadLink = document.getElementById("downloadLink");

        downloadLink.addEventListener("click", function(ev) {
          ev.preventDefault();
          fetch(ev.currentTarget.getAttribute("href")).then(() => {
            window.location.reload()
          })
        })
      })();
    </script>
  <% end %>

  <div class="video-description">
<%= @video.description %>
  </div>
</div>
