  <div class="video-card<% unless video.watched? %> fresh<% end %>">
    <div class="fresh-dot"></div>
    <a href="/videos/<%= video.id %>">
      <img src="/data/<%= video.channel.external_id %>/<%= video.external_id %>.jpg">
      <span><%= video.title %></span>
    </a>
    <div class="video-card-channel">
      <a href="/channels/<%= video.channel_id %>"><%= video.channel.name %></a></li>
    </div>
  </div>
